@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <form method="post" action="Home/DisplayName">
    <input type="text" name="name" id="textbox"/>
    <input type="submit" value="click" id="button"/>
    </form>
</div>
</body>
</html>
